.headerContent{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 3.125rem;
    width: 100%;
}

.icon{
    transform: rotate(180deg);
    font-size: 1.5625rem;
    color: #C4C4C4;

}


.iconAlarm{
    font-size: 1.5625rem;
    color: #C4C4C4;
    margin: 0 1.5625rem 0 0;
}